.nav-wrapper {
	z-index: 2;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
	width: 20%;
	height: 100%;
	background-color: rgb(233, 233, 233);
}

.main-wrapper {
	z-index: 3;
	margin: 0;
	margin-left: 20%;
	margin-right: 10%;
	min-height: 100vh;
	background-color: #fff;
}

.guest-main-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
}

.empty-wrapper {
	z-index: 1;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	width: 10%;
	/* background-color: #fff; */
	background-color: rgb(233, 233, 233);
}

.nav-logo-text {
	font-size: 1.25rem;
	font-weight: 700;
}

.nav-link-container #nav-link-container {
	color: var(--app-primary-color);
}
.nav-link-container a {
	color: #838383;
}
.nav-link-container a:hover {
	color: #454545;
}

.nav-user-info-container {
	display: inline-flex;
	align-items: center;
	position: absolute;
	bottom: 5vh;
}

.nav-user-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.25rem;
}

.nav-user-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.nav-user-info #name {
	font-size: 0.75rem;
}
.nav-user-info #email {
	font-size: 0.5rem;
}

.scrollTop-btn {
	z-index: 5;
	position: fixed;
	right: 3%;
	bottom: 30px;
}
