/* AppRouter */
:root {
	--app-sidebar-width: 260px;
	--app-sidebar-max-width: 350px;
	--app-blank-width: 150px;
}

@media screen and (max-width: 992px) {
	:root {
		/* --app-sidebar-width: 60vw; */
		/* --app-sidebar-width: 0; */
		--app-blank-width: 0;
	}
}

.router-0 {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	background-color: #fff;
}

.router-1 {
	width: 100%;
	height: 100%;
}

.router-nav-0 {
	display: flex;
	position: fixed;
	width: var(--app-sidebar-width);
	height: 100vh;
	background-color: var(--app-background-color);
	transition: width 1s ease-in-out;
}

.router-main-0 {
	display: flex;
	width: 100%;
	height: 100%;
	max-height: 100vh;
	margin: 0;
	margin-left: var(--app-sidebar-width);
	/* transition: max-width 1s ease-in-out; */
}

@media screen and (max-width: 992px) {
	.router-main-0 {
		max-width: 100%;
	}
}
@media screen and (min-width: 1400px) {
	.router-nav-0 {
		/* width: var(--app-sidebar-max-width); */
	}
}

.router-main-1-routes {
	width: 100%;
	/* max-width: calc(100% - var(--app-blank-width)); */
	height: 100%;
	/* transition: max-width 700ms ease; */
}

.guest-main-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	min-height: 100vh;
}

/* .router-main-1-blank {
	width: var(--app-blank-width);
}
@media screen and (max-width: 992px) {
	.router-main-1-blank {
		display: none;
	}
} */

/* .router-nav-opened {
	z-index: 1;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: var(--app-sidebar-width);
	min-width: 180px;
} */
/* AppRouter */

/* Navbar */
/* navbar */
.nav-navbar {
	z-index: 2;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	display: flex;
	align-items: center;
	width: 100%;
	height: 3.75rem;
	padding: 0.5rem 1rem;
	background-color: var(--app-primary-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 77, 0.5);
}

.navbar-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

/* backdrop */
.nav-backdrop {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	visibility: hidden;
	transition-property: opacity, visibility;
	transition-duration: 100ms;
	transition-timing-function: ease-in-out;
	background-color: rgba(0, 0, 0, 0.5);
}

.backdrop-show {
	opacity: 1;
	visibility: visible;
	transition-property: opacity, visibility;
	transition-duration: 100ms;
	transition-timing-function: ease-in-out;
}

/* side menu */
.nav-side-menu {
	/* z-index: 3; */
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 73vw;

	overflow-y: auto;
	opacity: 0;
	visibility: hidden;
	transform: translateX(-100%);

	transition-property: opacity, visibility, transform;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;
}

.side-menu-animation {
	opacity: 1;
	visibility: visible;
	transform: translateZ(0);

	transition-property: opacity, visibility, transform;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;
}

.scroll-lock {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	overflow-y: scroll;
}

.navbar-menu-btn {
}

.navbar-blank {
	width: 2rem;
	height: 2rem;
	background-color: #d9d9d9;
}

.navbar-logo {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}
.navbar-logo img {
	width: auto;
	height: 100%;
	/* height: 1.875rem; */
}
.navbar-logo span {
	color: #fff;
	font-size: 1.875rem;
	font-style: normal;
	font-weight: 600;
}
/* Navbar */

/* Navigation */
.nav-0 {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	/* max-width: var(--app-sidebar-width); */
	height: 100%;
	max-height: 100vh;
	/* border-right: 5px solid blue; */
}

.nav-1-1 {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	/* background-color: red; */
}

.nav-1-2 {
	margin-bottom: 2.5rem;
}

.nav-header {
	display: flex;
	justify-content: space-between;
	padding: 3rem 2.5rem;
	padding-bottom: 4rem;
}

/* logo */
.nav-logo-0 {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	/* height: 2rem; */
}
.nav-logo-0 span {
	display: flex;
	align-items: center;
	color: #000;
	text-decoration: none;
	font-family: Bebas Neue;
	font-size: 1.875rem;
	font-style: normal;
	font-weight: 600;
	line-height: 1.75rem;
}

.nav-logo-img {
	width: 1.65388rem;
	height: 1.90544rem;
	flex-shrink: 0;
}

.nav-logo-text {
	font-family: Bebas Neue;
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 93.333%;
}

.nav-close-btn {
	font-size: 1.75rem;
	color: #757575;

	transition-property: color;
	transition-duration: 150ms;
	transition-timing-function: ease-in-out;
}
.nav-close-btn:hover {
	color: #363636;
}

/* dropdown menu */
.nav-dropdown {
	display: flex;
	flex-direction: column;
	flex: wrap;
	width: 100%;
}

.nav-dropdown-menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 3rem;
	padding: 0.75rem 2rem;
	color: #363636;
	cursor: pointer;
	background-color: #f0f3ff;
}
.nav-dropdown-menu span {
	font-size: 1.125rem;
	color: inherit;
	line-height: 155.5%;
}
.nav-dropdown-menu svg {
	width: 1rem;
	height: 1rem;
	flex-shrink: 0;

	transform: rotate(-90deg);
	transition-property: transform;
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
}

.nav-dropdown-menu:hover,
.nav-dropdown-menu:hover svg > path {
	color: var(--menu-hover-color);
	fill: var(--menu-hover-color);

	transition-property: color, fill;
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
}

.nav-dropdown-animation {
	transform: rotate(0deg) !important;
	transition-property: transform;
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
}
.nav-menu-list-0 {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 0px;

	will-change: height;
	transition-property: height;
	transition-duration: 200ms;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
}

.nav-menu-list-1 {
	padding-left: 2.25rem;

	transform: translateY(-100%);
	transition-property: all;
	transition-duration: 200ms;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
}

.nav-menu-list-1 ul {
	display: flex;
	margin-top: 1.5rem;
	padding: 0.5rem 3rem;
	flex-direction: column;
	align-items: flex-start;
	gap: 1.5rem;
	padding: 0;
}

.nav-menu-list-1 li {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2rem;
	cursor: pointer;
	font-size: 1rem;
	color: #363636;
	line-height: 175%;
	list-style: none;
}
.nav-menu-list-1 li:hover {
	color: var(--menu-hover-color);

	transition-property: color;
	transition-duration: 150ms;
	transition-timing-function: ease-in-out;
}

.nav-menu-list-1 span {
	margin-left: 0.75rem;
}

.nav-menu-list-1-visited {
	color: var(--menu-visited-color) !important;
}

.nav-menu-height {
	height: 100%;
	transition: height 200ms ease-in-out 0s;
}

.nav-menu-animation {
	transform: translateY(0);
	transition: all 200ms ease-in-out 0s;
}

/* bottom menu */
.nav-user-info-0 {
	/* position: absolute; */
	/* bottom: 2.75rem; */
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 0.5rem 2rem;
	gap: 1rem;
}

.nav-user-info-1 {
	display: flex;
	/* justify-content: center; */
	align-items: center;
	gap: 0.75rem;
	cursor: pointer;
}

.nav-user-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.25rem;
}

.nav-user-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.nav-user-info #name {
	font-size: 1.25rem;
	line-height: 175%;
	color: #494949;

	transition-property: color;
	transition-duration: 150ms;
	transition-timing-function: ease-in-out;
}
.nav-user-info-1:hover .nav-user-info #name {
	color: var(--menu-hover-color);
}

.nav-user-info #email {
	font-size: 0.5rem;
}

.nav-user-info-0 #logout-btn {
	width: 100%;
	height: 2.25rem;
	/* border-radius: 0.3125rem; */

	font-family: Sandoll GothicNeo1;
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.75rem;
}
@media screen and (max-width: 992px) {
	.nav-user-info-0 #logout-btn {
		width: 50%;
		min-width: 9.375rem;
	}
}
/* Navigation */

/* Scroll Button */
.scrollTop-btn {
	/* z-index: 1; */
	position: fixed;
	right: 2rem;
	bottom: 2rem;
}

.scrollTop-btn > svg > circle {
	transition-property: fill;
	transition-duration: 150ms;
	transition-timing-function: ease-in-out;
}
.scrollTop-btn > svg > circle:hover {
	fill: var(--btn-hover-color);
}
/* Scroll Button */
