.nav-wrapper {
	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 20%;
	height: 100vh;
	/* flex: 0 0 20%; */
	padding: 25px;
	background-color: rgb(233, 233, 233);
	/* border-right: 1px solid lightgrey; */
}

.nav-logo-text {
	font-size: 1.25rem;
	font-weight: 700;
}

.nav-link-container #nav-link-container {
	color: var(--app-primary-color);
}
.nav-link-container a {
	color: #838383;
}
.nav-link-container a:hover {
	color: #454545;
}

.nav-user-info-container {
	display: inline-flex;
	align-items: center;
	position: absolute;
	bottom: 5vh;
}

.nav-user-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 0.25rem;
}
.nav-user-icon svg {
	width: 30px;
	height: 30px;
}

.nav-user-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.nav-user-info #name {
	font-size: 0.75rem;
}
.nav-user-info #email {
	font-size: 0.5rem;
}

.main-wrapper {
	display: flex;
	align-items: center;
	z-index: 1;
	margin-left: 20%;
	width: 80%;
	min-height: 100vh;
	padding: 0 20px;
	height: 100%;
	background-color: #fff;
	/* background-color: #f7f9fd; */
}

.guest-main-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
}
