.initSet-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: var(--app-background-color);
}

.initSet-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	min-width: 600px;
	min-height: 350px;
	background-color: #fff;
	border: 1px solid rgb(0, 0, 0, 0.2);
	border-radius: 20px;
}

.initSet-progress-container {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	padding: 20px;
	min-width: 600px;
	min-height: 350px;
	background-color: #fff;
	border: 1px solid rgb(0, 0, 0, 0.2);
	border-radius: 20px;
}

.initSet-progress-body {
	display: flex;
	flex-direction: column;
	width: 100%;
	/* margin-bottom: 50px; */
}

.initSet-progress-footer {
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	padding-top: 0px;
	width: 100%;
}

.mb-50px {
	margin-bottom: 50px;
}
