.myPage-wrapper {
	max-width: 800px;
	padding: 30px 20px;
	background-color: #f7f9fd;
	border-radius: 10px;
}

.myPage-container {
	padding: 15px;
}

.myPage-container-title {
	color: var(--app-primary-color);
}

.userForm-container h5 {
	font-weight: normal;
}
