* {
	box-sizing: border-box;
	word-break: break-word;
	margin: 0;
}

:root {
	--app-primary-color: #00004d;
	--app-secondary-color: #6f68b7;
	--app-background-color: #fafbff;
	--app-hover-color: #373774;
	--app-visited-color: #6565b5;
}

body {
	margin: 0;
}

div > a {
	text-decoration: none;
}

button {
	background: none;
	outline: none;
	appearance: none;
	border: none;
	white-space: nowrap;
}

.app-container {
	width: 100%;
	height: 100%;
}

.app-background-color {
	background-color: var(--app-background-color);
}

.wrapper {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	overflow: auto;
	padding: 1.5rem;
}
