* {
	box-sizing: border-box;
	word-break: break-word;
	margin: 0;
}

:root {
	--app-primary-color: #00004d;
	--app-secondary-color: #6f68b7;
	--app-background-color: #fafbff;

	/* button */
	--btn-default-color: #00004d;
	--btn-hover-color: #51519a;

	/* menu */
	--menu-hover-color: #6565b5;
	--menu-visited-color: #505093;
}

body {
	margin: 0;
}

div > a {
	text-decoration: none;
}

.app-container {
	width: 100%;
	height: 100%;
}

.app-background-color {
	background-color: var(--app-background-color);
}

.wrapper {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	overflow: auto;
	padding: 1.5rem;
}

/* button */
button {
	transition-property: background-color;
	transition-duration: 150ms;
	transition-timing-function: ease-in-out;

	background: none;
	outline: none;
	appearance: none;
	border: none;
	white-space: nowrap;
}

.primary-btn {
	color: #fff;
	background: var(--btn-default-color);
}
.primary-btn:hover {
	background-color: var(--btn-hover-color);
}

.cancel-btn {
	color: #fff;
	background-color: #363636;
}
.cancel-btn:hover {
	background-color: #757575;
}

.danger-btn {
	color: #fff;
	background-color: rgb(140, 23, 23);
}
.danger-btn:hover {
	background-color: rgb(191, 45, 45);
}
/* button */
