* {
	box-sizing: border-box;
	word-break: break-word;
	margin: 0;
}

.body {
	margin: 0;
}

:root {
	--app-primary-color: #3629b7;
	--app-secondary-color: #6f68b7;
	--app-background-color: #f7f9fd;
}

.app-container {
	width: 100%;
	height: 100%;
	background-color: #fff;
}

.back-white {
	background-color: #fff !important;
}

.app-background-color {
	background-color: var(--app-background-color);
}

.wrapper {
	margin: 0 auto;
	overflow: auto;
	padding: 30px;
}
